@font-face {
    font-family: sarabun;
    src: url(./assets/fonts/Sarabun-Medium.ttf);
  }
html, body{
    font-family: sarabun;
}
.p-paginator{
  background-color: #3a3a3a;
}
.mr-20{
  margin-right: 20px;
}
.mr-10{
  margin-right: 10px;
}
.lh-30px{
  line-height: 30px;
}
.logo{
  font-size: 50px;
  border-bottom: 3px solid #fff;
  color: #fff;
  margin-left: 1rem;
}
.mdl-button.button--colored-excel:not([disabled]).mdl-button--raised, .mdl-button.button--colored-excel:not([disabled]).mdl-button--raised:hover {
  background-color: #069f0f;
  color: #fff;
}
.mdl-button.button--colored-excuted:not([disabled]).mdl-button--raised, .mdl-button.button--colored-excuted:not([disabled]).mdl-button--raised:hover {
  background-color: #3562d5;
  color: #fff;
}