
<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp line-chart">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Quản lý dự án</h2>
        </div>
        <div class="mdl-card__supporting-text w-100">
            <div class="w-100">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable float-start">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
    
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search" (keyup.enter)="searchData()" [(ngModel)]="search.textSearch"/>
                        <label class="mdl-textfield__label" for="search">Tìm kiếm...</label>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue float-end" (click)="openEditForm()">
                    <i class="material-icons">add_circle</i>
                    Thêm mới
                </button>
            </div>
            <table class="mdl-data-table mdl-js-data-table bordered-table w-100">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric text-center">STT</th>
                    <th class="mdl-data-table__cell--non-numeric">Tên dự án</th>
                    <th class="mdl-data-table__cell--non-numeric">Ngày tạo</th>
                    <th class="mdl-data-table__cell--non-numeric">Ghi chú</th>
                    <th class="mdl-data-table__cell--non-numeric">Trạng thái hiện tại</th>
                    <th class="mdl-data-table__cell--non-numeric w-50px">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of projects; let i = index">
                    <td class="mdl-data-table__cell--non-numeric text-center">{{((search.pageIndex - 1) * search.pageSize) + i + 1}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.projectName}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.projectDate | date: "dd/MM/yyyy"}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.note}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.currentState}}</td>
                    <td class="mdl-data-table__cell--non-numeric w-50px text-center">
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-excuted mr-20" title="Cấu hình văn bản" [routerLink]="'/document-setting/' + item.projectId">
                            <i class="material-icons">forward</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green mr-20" title="Thực thi" [routerLink]="'/project-flow/' + item.projectId">
                            <i class="material-icons">build_circle</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange mr-20" title="Sửa" (click)="openEditForm(item.projectId)">
                            <i class="material-icons">create</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-excel mr-20" title="Xuất Excel" (click)="exportExcel(item.projectId)">
                            <i class="material-icons">insert_drive_file</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red" title="Xóa" (click)="openDeleteForm(item.projectId)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-paginator [rows]="search.pageSize" [totalRecords]="totalData" (onPageChange)="onPageChange($event)"></p-paginator>
        </div>
    </div>
</div>


<p-dialog [header]="projectId ? 'Chỉnh sửa dự án' : 'Thêm mới dự án'" [(visible)]="isShowModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false">
        <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
            <div class="form-group">
                <label class="col-lg-12 lh-30px">Tên dự án <span class="text-danger">*</span></label>
                <div class="col-lg-12">
                    <input type="text" pInputText formControlName="projectName" placeholder="Tên dự án..." class="w-100"/>
                    <div class="error pl-0" *ngIf="(form.projectName.touched || isSubmit)">
                        <p class="text-danger" *ngIf="form.projectName.errors?.required">Tên dự án không thể để trống</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12 lh-30px">Ngày tạo <span class="text-danger">*</span></label>
                <div class="col-lg-12">
                    <p-calendar formControlName="projectDate" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" styleClass="w-100"></p-calendar>
                    <div class="error pl-0" *ngIf="(form.projectDate.touched || isSubmit)">
                        <p class="text-danger" *ngIf="form.projectDate.errors?.required">Ngày dự án không thể để trống</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12 lh-30px">Ghi chú</label>
                <div class="col-lg-12">
                    <textarea class="w-100" style="height: 100px;" [rows]="5" pInputTextarea formControlName="note"></textarea>
                </div>
            </div>
            <div class="form-group mt-2">
                <label class="col-lg-12 lh-30px">Danh sách gói thầu</label>
                <div class="col-lg-12">
                    <div class="card">
                        <p-table [value]="packages" [(selection)]="packageSelected" dataKey="biddingPackageId" responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>Tên gói thầu</th>
                                    <th>Thứ tự</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-package>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="package"></p-tableCheckbox>
                                    </td>
                                    <td>{{package.biddingPackageName}}</td>
                                    <td>{{(projectId) ? findOrder(package) : package.order}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-paginator [rows]="packageSearch.pageSize" [totalRecords]="totalPackage" (onPageChange)="packagePageChange($event)"></p-paginator>
                    </div>
                </div>
            </div>
            <div class="form-group float-end pt-3 pb-3">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue mr-10" title="Lưu" type="submit">
                    <i class="material-icons">check</i>
                    Lưu
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--raised mdl-js-ripple-effect text-light" title="Đóng" (click)="isShowModal=false">
                    <i class="material-icons">close</i>
                    Đóng
                </button>
            </div>
        </form>
</p-dialog>

<p-confirmDialog header="" icon="pi pi-exclamation-triangle"></p-confirmDialog>