<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp line-chart">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Chi tiết dự án</h2>
        </div>
        <div class="mdl-card__supporting-text w-100">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="package-group">
                            <div class="package-item" *ngFor="let item of packages">
                                <div class="d-flex bd-highlight h-100 pl-10px">
                                    <div class="bd-highlight">
                                        <div class="package-number">{{item.order}}</div>
                                    </div>
                                    <div class="bd-highlight">
                                        <div class="package-name">{{item.label}}</div>
                                        <small class="pl-10px"><span class="text-danger">{{item.currentNumberDocument +"/"+ item.totalDocument}}</span> văn bản đã nhập</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue"
                            (click)="openCreatePackageForm()">
                            <i class="material-icons">add_circle</i>
                            Thêm gói thầu
                        </button>
                    </div>
                    <div class="col-lg-9">
                        <p-steps [model]="packages"></p-steps>
                        <div class="mt-4">
                            <button
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue float-end mb-2"
                                (click)="openCreateDocumentForm()">
                                <i class="material-icons">add_circle</i>
                                Thêm văn bản
                            </button>
                        </div>
                        <table class="mdl-data-table mdl-js-data-table bordered-table w-100 mt-2">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric text-center">STT</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">Tên văn bản</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">Người ký</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">Ngày ký</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">Số văn bản</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">Tình trạng</th>
                                    <th class="mdl-data-table__cell--non-numeric text-center">File đính kèm</th>
                                    <th class="mdl-data-table__cell--non-numeric w-50px text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let item of users; let i = index">
                                <td class="mdl-data-table__cell--non-numeric text-center">{{i + 1}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{item.numberPhone}}</td>
                                <td class="mdl-data-table__cell--non-numeric w-50px text-center">
                                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green mr-20" [routerLink]="'/decentralization/' + item.userId">
                                        <i class="material-icons">engineering</i>
                                        Phân quyền
                                    </a>
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange mr-20" (click)="openEditForm(item.userId)">
                                        <i class="material-icons">create</i>
                                        Sửa
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red" (click)="openDeleteForm(item.userId)">
                                        <i class="material-icons">delete</i>
                                        Xóa
                                    </button>
                                </td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- flow add document -->
<p-dialog header="Thêm mới văn bản" [(visible)]="isShowModal" [modal]="true" [style]="{width: '70vw'}"
    [draggable]="false" [resizable]="false">
    <form (ngSubmit)="saveDocument()" [formGroup]="documentForm">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Văn bản <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <p-dropdown [options]="dropdownDocument" formControlName="documentId" optionLabel="documentName" optionValue="documentId" styleClass="w-100"></p-dropdown>
                            <div class="error pl-0" *ngIf="(form.documentId.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.documentId.errors?.required">Văn bản không thể để
                                    trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Số hiệu <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <input type="text" pInputText formControlName="documentNumber" placeholder="Số hiệu..."
                                class="w-100" />
                            <div class="error pl-0" *ngIf="(form.documentNumber.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.documentNumber.errors?.required">Số hiệu không thể để
                                    trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Ngày tạo <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <p-calendar formControlName="projectDate" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" placeholder="Ngày tạo..." [showTime]="false" styleClass="w-100"></p-calendar>
                            <div class="error pl-0" *ngIf="(form.projectDate.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.projectDate.errors?.required">Ngày tạo không thể để
                                    trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Đơn vị ban hành <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <input type="text" pInputText formControlName="promulgateUnit"
                                placeholder="Đơn vị ban hành..." class="w-100" />
                            <div class="error pl-0" *ngIf="(form.promulgateUnit.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.promulgateUnit.errors?.required">Đơn vị ban hành
                                    không thể để trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Trích yếu </label>
                        <div class="col-lg-12">
                            <textarea pInputTextarea formControlName="documentAbstract" class="w-100"
                                placeholder="Trích yếu..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Người ký <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <input type="text" pInputText formControlName="signer"
                                placeholder="Người ký..." class="w-100" />
                            <div class="error pl-0" *ngIf="(form.promulgateUnit.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.promulgateUnit.errors?.required">Người ký không thể để trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Văn bản quy định <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <input type="text" pInputText formControlName="regulationDocument"
                                placeholder="Người ký..." class="w-100" />
                            <div class="error pl-0" *ngIf="(form.regulationDocument.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.regulationDocument.errors?.required">Văn bản quy định không thể để trống</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">File đính kèm </label>
                        <div class="col-lg-12">
                            <input type="file" pInputText id="fileUrl" (change)="onFileChange($event)" class="w-100 d-none" />
                            <label for="fileUrl" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                <i class="material-icons">attach_file</i>
                                Tệp đính kèm
                            </label>
                            <p class="text-primary">{{file.name}}</p>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Ghi chú </label>
                        <div class="col-lg-12">
                            <textarea pInputTextarea formControlName="note" class="w-100"
                                placeholder="Trích yếu..."></textarea>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="col-lg-12 lh-30px">Tình trạng <span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <p-radioButton name="status" value="0" formControlName="status" label="Chưa có"></p-radioButton >
                            <p-radioButton name="status" class="pl-10px" value="1" formControlName="status" label="Đã có"></p-radioButton >
                            <p-radioButton name="status" class="pl-10px" value="2" formControlName="status" label="Chỉnh sửa"></p-radioButton >

                            <div class="error pl-0" *ngIf="(form.status.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.status.errors?.required">Văn bản quy định không thể để trống</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group float-end pt-3 pb-3">
            <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue mr-10"
                title="Lưu" type="submit">
                <i class="material-icons">check</i>
                Lưu
            </button>
            <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--raised mdl-js-ripple-effect text-light"
                title="Đóng" (click)="isShowModal=false">
                <i class="material-icons">close</i>
                Đóng
            </button>
        </div>
    </form>
</p-dialog>