<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp line-chart">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Cấu hình văn bản</h2>
        </div>
        <div class="mdl-card__supporting-text w-100">
            <div class="w-100">
                <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue float-end" (click)="save()">
                    <i class="material-icons">save</i>
                    Lưu
                </button>
            </div>
            <p-tree [value]="packageDocument">
                <ng-template let-node pTemplate="default">
                    <input type="text" pInputText class="p-inputtext-sm order mr-3" [value]="(isInitDocument ? node.order : getOrder(node))" (ngModelChange)="changeOrder($event, node)"  [disabled]="!node.isCommon && (node.isDisabled === undefined || node.isDisabled)" [(ngModel)]="node.order" *ngIf="!node.isParent" />
                    <p-checkbox name="groupname" [value]="node.data" (onChange)="checkboxChange($event, node)" [(ngModel)]="packageDocumentSelected" [disabled]="node.isParent || node.isCommon" [label]="node.label"></p-checkbox>
                </ng-template>
            </p-tree>
        </div>
    </div>
</div>