<app-menu-top *ngIf="isLogin && isNotFound"></app-menu-top>
<app-menu-left *ngIf="isLogin && isNotFound"></app-menu-left>
<main class="mdl-layout__content" [style]="(isLogin && isNotFound) ? 'width: calc(100% - 236px); float: right;overflow-y: auto;height: 800px;': ''">
    <div class="dashboard">
        <div class="">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<p-toast position="bottom-right"></p-toast>

<p-dialog [(visible)]="progressSpinnerDlg" styleClass="ui-dialog-transparent" [closable]="false"
    [showHeader]="false" [resizable]="false" [modal]="true">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="3" animationDuration=".5s"></p-progressSpinner>
</p-dialog>